{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur mon site M@ musique!</h1>
  <p class="lead">Ceci est mon premier site web crée grâce au Framework Symfony.</p>
  <hr class="my-4">
  <p>Il utilise des classes utilitaires pour la typographie et l'espacement ainsi que pour espacer le contenu dans le conteneur plus grand.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">En savoir plus</a>
  </p>
</div>

{% endblock %}
